.concentration-app {
    min-height: 100vh;
}

.game-field {
    min-height: 500px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 50px;
}

.test-item {
    margin-left: 100px;
    margin-top: 50px;
    height: 200px;
    width: 100px;
    background-color: red;
    transition: transform 1s linear;
}

.test-item.scaleInc {
    transform: scale(1.5);
}
// .test-item.scaleDec {
//     transform: scale(1);
// }
