.concentration-app {
    min-height: 100vh;
}

.game-field {
    min-height: 500px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 50px;
}
